{%load static%}

<div class= 'mb-5'>
</div>
<footer class="footer fixed-bottom mb-0" style="background-color: #5cb85c; color: white;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="nav justify-content-around">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'core:index' %}" style='color: white;'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:shop' %}"style='color: white;'>Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% if request.user.is_authenticated %}{% url 'core:cart' request.user.username %}{% else %}{% url 'core:index' %}{% endif %}"style='color: white;'>Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% if request.user.is_authenticated %}{% url 'core:customer-dashboard' request.user.username %}{% else %}{% url 'core:index' %}{% endif %}"style='color: white;'>Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>




<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg></div>


<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js'%}"></script>
<script src="{% static 'js/popper.min.js'%}"></script>
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<script src="{% static 'js/jquery.easing.1.3.js'%}"></script>
<script src="{% static 'js/jquery.waypoints.min.js'%}"></script>
<script src="{% static 'js/jquery.stellar.min.js'%}"></script>
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
<script src="{% static 'js/aos.js'%}"></script>
<script src="{% static 'js/jquery.animateNumber.min.js'%}"></script>
<script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
<script src="{% static 'js/scrollax.min.js'%}"></script>
<script src="{% static 'js/main.js'%}"></script>

</body>

</html>