<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{request.user.username}} Dashboard{% endblock %}</title>
    <!-- Importing static files -->
    {% include 'core/importstatic.html' %}
    <!-- Additional CSS or meta tags if needed -->
    {% block extra_head %}
    <style>
        /* Custom CSS for navbar */
        .navbar {
            background-color: #343a40; /* Dark background color */
            color: white; /* White text */
        }
        .navbar-nav .nav-link {
            color: white !important; /* White text for navbar links */
        }
    </style>
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top " > <!-- Added 'fixed-top' class for fixed position -->
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent" style=" background-color:green;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'stock:dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stock:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stock:product-list' %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stock:category-list' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stock:vendor-list' %}">Farmers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'userauths:logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    {% block extra_scripts %}{% endblock %}
</body>
</html>
