{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Customer Feedback</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit" class="btn btn-primary btn-block">Submit Feedback</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
