{% extends 'core/base.html' %}


{% block content %}

<!-- Display messages -->

<!-- Common structure for product detail view -->
<div class="hero-wrap hero-bread" style="background-image: url('{{ STATIC_URL }}images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><a href="{% url 'core:index' %}">Home</a> <span class="mr-2">/</span> <a
                        href="{% url 'core:shop' %}">Products</a></p>
                <h1 class="mb-0 bread">{{ product.title }}</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="{{ product.image.url }}" class="image-popup">
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.title }}">
                </a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h3 class="mb-0 bread">{{ product.title|title }}</h3>
                <p class="price"><span>Ksh <span class="current-product-price">{{ product.price|floatformat:2 }}</span></span></p>
                <p>{{ product.description|safe }}</p>
                <p>Life cycle: {{ product.life }} days</p>
                <p>Produce date: {{ product.mfd|date:"F j, Y"  }}</p>
                <p>Availability: <span
                        class="{% if product.is_available %}text-success{% else %}text-danger{% endif %}">
                        {% if product.is_available %}In Stock{% else %}Out of Stock{% endif %}
                    </span></p>

                <p>Quantity Available: {{ product.quantity_available }} kg</p>

                {% if product.tags.all %}
                        <p>Tags:
                            {% for tag in product.tags.all %}
                                <a href="{% url 'core:tag-list' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                {% endif %}
                <p class="mb-0 bread">Category: {{ product.category.title|title }}</p>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="quantityAddon">Quantity</span>
                            </div>
                            <input type="number" class="form-control" id="quantity" name="quantity" value="1" min="1">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p style="color: #000;">{{ product.quantity_available }} kg available</p>
                    </div>
                </div>

                <button
                    id="addToCartBtn"                   
                    data-pid="{{ product.pid }}"
                    data-title="{{ product.title }}"
                    data-price="{{ product.price|floatformat:2 }}"
                    data-image="{{ product.image.url }}"
                    data-add-to-cart-url="{% url 'core:add-to-cart' %}"
                    value="add to cart">
                    Add to Cart
                </button>
                <!-- Add to Wishlist button -->
                <button onclick="addToWishlist('{{ product.id }}')">Add to Wishlist</button>
                {% if messages %}
                    {% for message in messages %}
                        {% if 'custom-alert-danger' in message.tags %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}

            </div>
        </div>
    </div>
</section>

<!-- Product review section -->
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ftco-animate">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h4 class="mb-0">Product Reviews</h4>
                    <div>
                        <h5 class="mb-0">Customer Reviews({{ reviews.count }})</h5>
                        <p>{{ average.rating|default:0|floatformat:1 }} out of 5</p>
                    </div>
                </div>

                <!-- Display messages -->
                    {% if messages %}
                    {% for message in messages %}
                        {% if 'custom-alert-danger' in message.tags %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}

                        <!-- Review form -->
                        {% if not user_reviewed %}
                        <div class="mt-4">
                            <h4 class="mb-3">Write a Review</h4>
                            <form method="post" action="{% url 'core:add_review' pid %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ add_review_form.review }}
                                </div>
                                <div class="form-group">
                                    {{ add_review_form.ratings }}
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Review</button>
                            </form>
                        </div>
                        {% endif %}

                <!-- Display existing reviews -->
                {% if reviews %}
                <div class="reviews mt-4">
                    {% for review in reviews %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                                alt="User Image" class="img-fluid user-image-sm" style="max-width: 50px; height: auto;">
                            <h5 class="card-title">{{ review.user.username }}</h5>
                            <p class="card-text">{{ review.review }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="rating"><b>Rating: </b>
                                    {{ review.ratings }}
                                    <i class="fas fa-star text-warning"></i>
                                </div>
                                <small class="text-muted">{{ review.date|date:"F d, Y" }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class="mt-4">No reviews yet. Be the first to review this product!</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script>
    // Bind AJAX call to the click event of the "Add to Cart" button
    document.getElementById('addToCartBtn').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default form submission behavior
        let this_val=$(this);
        let index=this_val.attr('data-pid')
        
        ;
        var productId = this.getAttribute('data-pid');  // Keep productId as a string
        var title = this.getAttribute('data-title');
        var price = this.getAttribute('data-price');
        var image = this.getAttribute('data-image');
        var current_price=this.getAttribute('current-product-price')
        var quantity = document.getElementById('quantity').value;
        var addToCartUrl = this.getAttribute('data-add-to-cart-url');

        // Send AJAX request to add the product to the cart
        fetch(addToCartUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: new URLSearchParams({
                'pid': productId,  
                'title': title,
                'price': price,
                'quantity': quantity,
                'image': image,
                'current_price':current_price,
                
            }),
            dataType:'json'
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response (e.g., show a success message)
            alert('Product added to cart!');
            // Update cart count
            document.getElementById('cartItemCount').textContent = data.total_items;
            location.reload();
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // Update cart count dynamically using JavaScript
    function updateCartCount(count) {
        document.getElementById('cartItemCount').textContent = count;
    }
    updateCartCount(data.total_items);

    // add to wishlist
    function addToWishlist(productId) {
        fetch('/add-to-wishlist/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: new URLSearchParams({
                'id': productId,
            }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Product added to wishlist successfully!');
            } else {
                alert('Failed to add product to wishlist: ' + data.error);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while adding the product to wishlist.');
        });
    }
    
    // Function to get CSRF token from cookies
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
</script>
<style>
    #addToCartBtn {
    display: inline-block; /* Ensure the button is displayed as a block element */
}
</style>




{% endblock %}